#wrapper{
	max-width: 800px;
	/*border: 5px solid grey;*/
	outline: 5px solid #ffdb4d;
	display: flex;
    flex-direction: column;
    align-items: center;
    /*border-radius: 8px;*/
    margin:auto;
}

#border{
	border-bottom: 1px solid grey;
    width: 100%;
    padding-left: 10px;
}

h2:first-letter{
	color:red;
}

h1:first-letter{
	color:red;
}

body{
	font-family: Arial;
}

li{
	list-style-type: none;
}

li::before{
	content: "•";
	color: red;
	padding-left: 10px;
	padding-right: 10px;
}
p{
	font-weight: bold;
}

ul:first-line{
	font-weight: bold;
}

	
	
